
@{
    ViewData["Title"] = "Index";
}

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.js"></script>
<script src="~/lib/bootstrap/dist/js/moment.min.js"></script>
<script src="~/lib/bootstrap/dist/js/tempusdominus-bootstrap-4.min.js"></script>
<link href="~/lib/bootstrap/dist/css/bootstrap-datetimepicker.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />
<h1>Index</h1>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <div class="input-group date" id="StartTime" data-target-input="nearest">
                    <lable  class="col-form-label">Start Time</lable>
                    <input type="text" id="dtStartTime" class="form-control datetimepicker-input" data-target="#StartTime" />
                    <div class="input-group-append" data-target="#StartTime" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <div class="input-group date" id="EndTime" data-target-input="nearest">
                    <lable  class="col-form-label">End Time</lable>
                    <input type="text" id="dtEndTime" class="form-control datetimepicker-input" data-target="#EndTime" />
                    <div class="input-group-append" data-target="#EndTime" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <input type="button" class="btn btn-primary" onclick="payrate()" value="submit" />
        </div>
        <script type="text/javascript">
            $(function () {
                $('#dtStartTime').datetimepicker({
                    format:'MM/dd/yyyy hh:mm:ss a'
                });
                $('#dtEndTime').datetimepicker({
                    format:'MM/dd/yyyy hh:mm:ss a'
                });
            });
        </script>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="chargeModel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="chargeModel">Parking Charge</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="form-control" id="PayrateCaluculate" disabled />
                </div>
            </div>
           
        </div>
    </div>
</div>

<script>
    function payrate() {
        var sTime = $('#dtStartTime').val();
        var eTime = $('#dtEndTime').val();
        
        $.ajax({
            type: "GET",
            url: "/api/PayRate/GetRate",
           data:{startTime:sTime, endTime: eTime },
            success: function (result) {
                alert(result);
                $("#PayrateCaluculate").html(result);
                $('#exampleModal').modal('show');
            }
        });
    };
</script>